<div class="alert alert-primary alert-dismissible" role="alert">
  <button class="close" type="button" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"> × </span>
  </button>
  <strong>Message: {{message}}</strong>
</div>
