<div class="col-xs-12">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbar_main"><a class="btn btn-default navbar-btn navbar-left" id="sidebar__toggle" href="#"><i class="fa fa-bars"></i></a>
				<a class="btn btn-primary navbar-btn navbar-right signout" href="#">Sign Out</a></div>
		</div>
	</nav>
</div>
