<nav class="navbar navbar-static-top header-navbar" id="header-content"></nav>
<div class="dashboard">
    <div class="sidebar" id="sidebar-content"></div>
    <div class="main" id="main-content"></div>
</div>
