<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-8">
                <div class="form-wrap">
                    <h3>{{title}}</h3>
                    <form role="form" id="login-form" autocomplete="off">
                        <div class="form-group form-group-email">
                            <label for="input-email" class="sr-only">Email</label>
                            <input type="email" name="input-email" id="input-email" class="form-control">
                        </div>
                        <div class="form-group form-group-password">
                            <label for="input-password" class="sr-only">Password</label>
                            <input type="password" name="input-password" id="input-password" class="form-control">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-info" value="Log in">
                        <input id="btn-register" class="btn btn-custom btn-lg btn-block btn-success" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
