<td>
  <div class="record-basic">
      {{name}}
  </div>
</td>
<td>
  <div class="record-type">
      {{date_created}}
  </div>
</td>
<td class="actions">
  <div class="button-toolbar">
    <button class="btn btn-mini btn-default update">Update</button>
  </div>
</td>
