<td>
  <div class="divider hidden-md hidden-sm hidden-xs"></div>
  <span class="time">{{ entry_date_formatted }}</span>
</td>
<td>
  <span>{{ category_id.name }}</span>
</td>
<td>
  <span class="amount" style="color: {{ kind_color }}"> {{ amount }}&euro;</span>
</td>
<td class="actions">
  <div class="button-toolbar">
    <button class="btn btn-mini btn-default update">Update</button>
  </div>
</td>
