<div class="main__cont">
    <div class="main-heading">
        <div class="main-title">
            <ol class="breadcrumb">
                <li class="active">
                    {{title}}
                </li>
            </ol>
        </div>
    </div>
    <div class="container-fluid half-padding">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div id="records-content"></div>
                <div id="pagination-content"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div id="overview-content"></div>
            </div>
        </div>
    </div>
</div>
