<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Overview</h3>
    </div>
    <div class="panel-body">
        <div class="ov-widget">
            <div class="ov-widget__list">
                <div class="ov-widget__item ov-widget__item_warn">
                    <div class="ov-widget__value">{{recordsNo}}</div>
                    <div class="ov-widget__info">
                        <div class="ov-widget__title">Total records</div>
                        <div class="ov-widget__change"><span></span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                    </div>
                </div>
                <div class="ov-widget__item ov-widget__item_inc">
                    <div class="ov-widget__value">&euro;{{incomes}}</div>
                    <div class="ov-widget__info">
                        <div class="ov-widget__title">Incomes</div>
                        <div class="ov-widget__change"><span>$</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                    </div>
                </div>
                <div class="ov-widget__item ov-widget__item_dec">
                    <div class="ov-widget__value">&euro;{{expenses}}</div>
                    <div class="ov-widget__info">
                        <div class="ov-widget__title">Expenses</div>
                        <div class="ov-widget__change"><span>$</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                    </div>
                </div>
                <div class="ov-widget__item ov-widget__item_tack">
                    <div class="ov-widget__value">{{balance}}</div>
                    <div class="ov-widget__info">
                        <div class="ov-widget__title">Balance</div>
                        <div class="ov-widget__change"><span></span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                    </div>
                </div>
                <div class="ov-widget__bar"><span></span>
                    <div class="progress">
                        <div role="progressbar" class="progress-bar progress-bar-danger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
