<div id="sidebar-content"></div>
<div class="container-fluid">
    <div id="header-content"></div>
    <div id="main-content"></div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
