.section .section-content {
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;
}

.grid--1offset {
    padding: 0;
}

.grid {
    width: 100%;
}

.hero-content {
    position: relative;
    padding: 0 26px;
}

.hero-foreground {
    position: relative;
    z-index: 1;
    padding-top: 52px;
}

.hero-date, .hero-headline {
    color: #fff;
    font-family: matrix-ii;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.hero-uvp {
    color: #fa2471;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: matrix-ii;
    font-size: 39px;
    font-weight: 700;
    line-height: 52px;
}

.x-mask .x-mask-message {
    color: white !important;
}


/*All the button styles*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/********************
GENERIC BUTTON STYLES
********************/

.btn {
    font-size: 18px;
    white-space: nowrap;
    width: 100%;
    padding: .8em 1.5em;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    line-height: 18px;
    display: inline-block;
    zoom: 1;
    color: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}


/*RED BUTTON STYLES*/

.btn.btn-red {
    background-color: #ea4f37;
    border-color: #ea4f37;
}

.btn.btn-red:hover {
    background-color: #a53422;
}

.btn.btn-red:active {
    top: 3px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/** ARROWS **/

.up {
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 11px;
    right: 12px;
    width: 20px;
    height: 20px;
    float: right;
}

.down {
    -webkit-transform: rotate(315deg);
    position: absolute;
    top: 11px;
    right: 12px;
    width: 20px;
    height: 20px;
    float: right;
}

.up:after {
    content: '';
    top: 11px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.down:after {
    content: '';
    top: 11px;
    right: 12px;
    width: 20px;
    height: 20px;
}


/* Clearfix */

.nav:after {
    content: "";
    display: table;
    clear: both;
}


/* Colors */

.green {
    background: rgb(121, 193, 67);
}

.yellow {
    background: rgb(255, 217, 102);
}

.orange {
    background: rgb(246, 178, 107);
}

.blue {
    background: rgb(109, 158, 235);
}

.red {
    background: rgb(224, 102, 102);
}

.purple {
    background: rgb(194, 123, 160);
}


/** BUDGES **/

.badge, .badge-pro, .badge-hire, .badge-delete, .badge-details, .badge-ok, .badge-yellow, .badge-blue, .badge-red, .badge-pruple, .badge-green, .badge-pink, .badge-orange, .badge-black, .badge-white {
    font-size: 0.8rem;
    border-radius: 3px;
    position: relative;
    top: 0;
    -na-text-transform: uppercase;
    padding: 1px 3px 1px 3px;
    color: #000;
    text-shadow: none !important;
    white-space: nowrap;
}

.badge-stars {
    position: absolute;
    right: 45px;
    top: 13px;
    float: right;
    color: #fff;
}
