.section .section-content {
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;
}

.grid--1offset {
    padding: 0;
}

.grid {
    width: 100%;
}

.hero-content {
    position: relative;
    padding: 0 26px;
}

.hero-foreground {
    position: relative;
    z-index: 1;
    padding-top: 52px;
}

.hero-date, .hero-headline {
    color: #fff;
    font-family: matrix-ii;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.hero-uvp {
    color: #fa2471;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: matrix-ii;
    font-size: 39px;
    font-weight: 700;
    line-height: 52px;
}

.x-mask .x-mask-message {
  color: white !important;
}
